{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>Editar Cliente</h1>

</div>


<form method="POST">

    <div class="mb-3">

        <label class="form-label">
            Nome
        </label>

        <input 
            type="text" 
            class="form-control" 
            name="nome"
            value="{{cliente['nome']}}"
            required
        >

    </div>


    <div class="mb-3">

        <label class="form-label">
            Telefone
        </label>

        <input 
            type="text" 
            class="form-control" 
            name="telefone"
            value="{{cliente['telefone']}}"
            required
        >

    </div>


    <div class="mb-3">

        <label class="form-label">
            E-mail
        </label>

        <input 
            type="email" 
            class="form-control" 
            name="email"
            value="{{cliente['email']}}"
            required
        >

    </div>


    <div class="mb-3">

        <label class="form-label">
            Cidade
        </label>

        <input 
            type="text" 
            class="form-control" 
            name="cidade"
            value="{{cliente['cidade']}}"
            required
        >

    </div>


    <button type="submit" class="btn btn-success">
        Salvar Cliente
    </button>


    <a href="/clientes" class="btn btn-secondary">
        Cancelar
    </a>


</form>


{% endblock %}