{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Dashboard</h1>

<p class="text-secondary">
    Bem-vindo ao SmartBusiness.
</p>

<div class="row mt-4">

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>👥 Clientes</h5>
                <h2>0</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>📦 Produtos</h5>
                <h2>0</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>💰 Vendas</h5>
                <h2>R$ 0,00</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>📈 Financeiro</h5>
                <h2>R$ 0,00</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}